.ai-generate-wrapper {
    position: relative;
}

.ai-generate-wrapper > div {
    min-width: 140px;
    padding: 8px;
}

.ai-generate-wrapper .btn-main {
    margin-bottom: 4px;
}

.ai-generate-wrapper button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.ai-generate-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    background: #fff;
    border: 1px solid #ddd;
    padding: 5px;
    z-index: 1000;
    display: none;
    box-shadow: 0 2px 5px rgba(112, 9, 9, 0.2);
    border-radius: 4px;
}

.ai-generate-dropdown button {
    display: block;
    margin: 2px 0;
}

