{% extends "bettersaas/templates/web.html" %} {% block style %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>OneHash - Get Started</title>
  <link rel="icon" type="image/png" href="/assets/whitelabel/images/whitelabel_logo.png" />
  <link
    href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css"
    rel="stylesheet"
  />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css"
  />
  <style>
    .navbar,
    .web-footer {
      display: none;
    }
    html,
    body {
      min-height: 100vh;
      margin: 0;
      padding: 0;
      background-color: #eeeef1 !important;
    }

    select {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='none' stroke='%236b7280' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M6 9l6 6 6-6'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: right 0.75rem center;
      background-size: 1rem;
      max-height: 150px;
      overflow-y: auto;
    }

    select:focus {
      outline: none;
    }

    .form-container {
      height: calc(100vh - 2rem);
      overflow-y: auto;
    }

    .form-container::-webkit-scrollbar {
      display: none;
    }

    .form-container {
      -ms-overflow-style: none;
      scrollbar-width: none;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="tel"] {
      background-color: #f1f5f9;
      border: 1px solid #d1d5db;
    }

    input[type="text"]:hover,
    input[type="email"]:hover,
    input[type="password"]:hover,
    input[type="tel"]:hover {
      background-color: #e2e8f0;
    }

    .bg-white {
      background-color: #f9fafb;
    }

    [v-cloak] {
      display: none;
    }

    /* Fix for input field initial values */
    input,
    select {
      opacity: 0;
      animation: fadeIn 0.3s forwards;
      animation-delay: 0.2s;
    }

    @keyframes fadeIn {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }

    .progress-bar {
      transition: width 1s ease-in-out; 
    }

    .iti {
      width: 100% !important;
    }

    .iti input {
      width: 100% !important;
    }
  </style>
</head>
{% endblock %} {% block page_content %}
<body class="bg-grey-180">
  <div id="main" v-cloak>
    <div
      class="min-h-screen bg-gray-190 flex flex-col lg:flex-row justify-center items-start lg:gap-16 px-4 lg:px-8"
    >
      <div class="hidden lg:!flex lg:w-5/12 py-12 items-center">
        <div>
          <img
            src="/assets/whitelabel/images/whitelabel_logo_long.svg"
            alt="OneHash"
            class="h-10 lg:h-12 mb-4 lg:mb-8 mt-4 mr-2"
          />

          <h1
            class="text-3xl lg:text-4xl font-bold mb-8 lg:mb-16 text-black-600"
          >
            An intelligent all in one CRM to boost your sales
          </h1>

          <div class="space-y-6 lg:space-y-10">
            <div class="flex items-start space-x-4">
              <div
                class="w-8 h-8 rounded-full bg-white border border-black flex items-center justify-center text-black font-medium shrink-0"
              >
                1
              </div>
              <div>
                <h3
                  class="text-lg lg:text-xl font-semibold mb-2 text-black-700"
                >
                  Comprehensive Lead Management
                </h3>
                <p class="text-black-300">
                  Capture, track, and nurture leads efficiently with automated processes to maximize conversions and enhance sales performance.
                </p>
              </div>
            </div>

            <div class="flex items-start space-x-4">
              <div
                class="w-8 h-8 rounded-full bg-white border border-black flex items-center justify-center text-black font-medium shrink-0"
              >
                2
              </div>
              <div>
                <h3
                  class="text-lg lg:text-xl font-semibold mb-2 text-black-700"
                >
                  Drip Campaign and Notifications
                </h3>
                <p class="text-black-300">
                  Automate personalized messages, schedule timely alerts, and engage customers effectively to drive conversions and retention effortlessly.
                </p>
              </div>
            </div>

            <div class="flex items-start space-x-4">
              <div
                class="w-8 h-8 rounded-full bg-white border border-black flex items-center justify-center text-black font-medium shrink-0"
              >
                3
              </div>
              <div>
                <h3
                  class="text-lg lg:text-xl font-semibold mb-2 text-black-700"
                >
                  Easily Configurable Automation with 100+
                </h3>
                <p class="text-black-300">
                  Customize workflows seamlessly with 100+ integrations, optimizing business processes, increasing productivity, and enhancing overall operational efficiency.
                </p>
              </div>
            </div>
          </div>

          <div class="mt-8 lg:mt-12">
            <h2
              class="text-xl lg:text-2xl font-bold mb-6 lg:mb-8 text-center text-black-700"
            >
              Highly rated across category
            </h2>
            <div
              class="flex flex-col lg:flex-row items-center justify-center gap-6 lg:gap-8"
            >
              <img
                src="/assets/bettersaas/images/SAFR24.png"
                alt="Front Runners"
                class="lg:h-24"
                style="height: 100px; width: 100px"
              />
              <img
                src="/assets/bettersaas/images/GetApp-Lead24.png"
                alt="High Performer"
                class="lg:h-24"
                style="height: 100px; width: 120px"
              />
              <img
                src="/assets/bettersaas/images/CTS24.png"
                alt="Capterra"
                class="lg:h-24"
                style="height: 100px; width: 120px"
              />
            </div>
          </div>
        </div>
      </div>

      <div class="lg:hidden w-full flex flex-col items-center py-4 space-y-4">
        <img
          src="/assets/whitelabel/images/whitelabel_logo_long.svg"
          alt="OneHash"
          class="h-8"
        />
        <div class="text-center">
          <h2 class="text-xl font-bold mb-1 text-black-700">
            Get started with 30 days FREE trial
          </h2>
          <p class="text-black-500 text-sm">No credit card required</p>
        </div>
      </div>

      <div class="w-full lg:w-5/12 py-12">
        <div class="bg-white p-8 lg:p-6 rounded-xl shadow-sm">
          <div class="hidden lg:!block">
            <h2 class="text-2xl font-bold mb-2 text-black-700">
              Get started with 30 days FREE trial
            </h2>
            <p class="text-black-500 mb-8 text-sm">No credit card required</p>
          </div>

          <v-form 
            @submit="handleSubmit"
            id="form"
            v-slot="{meta, errorMessage}"
            autocomplete="off"
            novalidate="novalidate"
            class="signup-form space-y-2 lg:space-y-6"
            >
            <div
              class="g-recaptcha"
              :data-sitekey="recaptchaSiteKey"
              data-callback="onRecaptchaVerified"
              data-size="invisible"
            ></div>
            <div class="grid grid-cols-2 gap-2 lg:gap-4">
              <div>
                <label class="block text-sm font-medium mb-1 text-black-700"
                  >First Name</label
                >
                <v-field 
                  v-slot="{ field, errorMessage }" 
                  :validateOnInput="true" 
                  :rules="isRequired" 
                  name="first_name"
                  v-model="fname"
                >
                  <input
                    v-bind="field"
                    type="text"
                    id="first_name"
                    class="w-full px-3 py-2 lg:px-4 lg:py-2.5 border border-gray-200 rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
                  />
                  <div class="mt-1 text-sm">
                    <div v-if="errorMessage" class="text-red-500">
                      {{ errorMessage }}
                    </div>
                  </div>
                </v-field>
              </div>
              <div>
                <label class="block text-sm font-medium mb-1 text-black-700"
                  >Last Name</label
                >
                <v-field 
                  v-slot="{ field, errorMessage }" 
                  :validateOnInput="true" 
                  :rules="isRequired" 
                  name="last_name"
                  v-model="lname"
                >
                  <input
                    v-bind="field"
                    type="text"
                    id="last_name"
                    class="w-full px-3 py-2 lg:px-4 lg:py-2.5 border border-gray-200 rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
                  />
                  <div class="mt-1 text-sm">
                    <div v-if="errorMessage" class="text-red-500">
                      {{ errorMessage }}
                    </div>
                  </div>
                </v-field>
              </div>
            </div>
            <div>
              <label class="block text-sm font-medium mb-1 text-black-700"
                >Company Name</label
              >
                <v-field 
                  v-slot="{ field, errorMessage }" 
                  :validateOnInput="true" 
                  :rules="isRequired" 
                  name="company_name"
                  v-model="company_name"
                >
                  <input
                    v-bind="field"
                    type="text"
                    id="company_name"
                    class="w-full px-3 py-2 lg:px-4 lg:py-2.5 border border-gray-200 rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
                  />
                  <div class="mt-1 text-sm">
                    <div v-if="errorMessage" class="text-red-500">
                      {{ errorMessage }}
                    </div>
                  </div>
                </v-field>
            </div>
            <div>
              <label class="block text-sm font-medium mb-1 text-black-700"
                >Master of Accounts</label
              >
              <select
                id="country"
                name="country"
                v-model="country"
                class="w-full px-3 py-2 lg:px-4 lg:py-2.5 border border-gray-200 rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-blue-500 bg-[#f1f5f9] hover:bg-[#e2e8f0] appearance-none cursor-pointer"
              ></select>
              <p class="text-xs text-black-500 mt-1">
                Based on your business location your account will be created
              </p>
            </div>
            <div>
              <label class="block text-sm font-medium mb-1 text-black-700"
                >Site Name</label
              >
                <v-field
                  v-slot="{ meta, field, errorMessage }"
                  :rules="checkSubdomain"
                  :validateOnInput="true"
                  name="sitename"
                  v-model="sitename"
                >
                <div class="flex items-center space-x-2">
                  <input
                    v-bind="field"
                    type="text"
                    id="sitename"
                    autocomplete="off"
                    pattern="^[a-zA-Z0-9 ]+$"
                    placeholder="Site Name"
                    class="w-full px-3 py-2 lg:px-4 lg:py-2.5 border border-gray-200 rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
                    @input="convertToLowercase"
                  />
                  <span class="ml-2 text-black-500 font-bold text-sm flex-shrink-0">.{{domain}}</span>
                </div>
                <div class="mt-1 text-sm">
                  <div v-if="errorMessage" class="text-red-500">
                    Site name is invalid or not available
                  </div>
                  <div v-if="meta.dirty && meta.valid" class="text-green-500">
                    {{ _(sitename) }} Subdomain is available
                  </div>
                </div>
                </v-field>
            </div>
            <div class="grid grid-cols-1 lg:grid-cols-2 gap-2 lg:gap-4">
              <div class="col-span-1">
                <label class="block text-sm font-medium mb-1 text-black-700"
                  >Email</label
                >
                <v-field
                  v-slot="{field,errorMessage}"
                  :validateOnInput="true"
                  :rules="isEmailRegex"
                  name="email"
                  v-model="email"
                >
                <input
                  v-bind="field"
                  type="email"
                  id="email"
                  class="w-full px-3 py-2 lg:px-4 lg:py-2.5 border border-gray-200 rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
                />
                <div class="mt-1 text-sm">
                  <div v-if="errorMessage" class="text-red-500">
                    Please enter a valid email
                  </div>
                </div>
              </v-field>
              </div>
              <div class="col-span-1">
                <label class="block text-sm font-medium mb-1 text-black-700"
                  >Password</label
                >
                <v-field
                  v-slot="{meta,field,errorMessage}"
                  :rules="checkPasswordStrength"
                  :validateOnInput="true"
                  name="password"
                  v-model="password"
                >
                  <div class="relative">
                    <input
                      id="password"
                      :type="showPassword ? 'text' : 'password'"
                      placeholder="Password"
                      v-bind="field"
                      class="w-full px-3 py-2 lg:px-4 lg:py-2.5 border border-gray-200 rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-blue-500 pr-14"
                      />
                    <button
                      type="button"
                      @click="togglePasswordVisibility"
                      class="absolute inset-y-2 right-4 flex items-center justify-center w-8 h-8 text-gray-500 focus:outline-none"
                    >
                      <svg v-if="showPassword" class="w-5 h-5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 12C1 12 5 4 12 4C19 4 23 12 23 12" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M1 12C1 12 5 20 12 20C19 20 23 12 23 12" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <circle cx="12" cy="12" r="3" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      </svg>
                      <svg v-else class="w-5 h-5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2 2L22 22" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M6.71277 6.7226C3.66479 8.79527 2 12 2 12C2 12 5.63636 19 12 19C14.0503 19 15.8174 18.2734 17.2711 17.2884M11 5.05822C11.3254 5.02013 11.6588 5 12 5C18.3636 5 22 12 22 12C22 12 21.3082 13.3317 20 14.8335" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M14 14.2362C13.4692 14.7112 12.7684 15.0001 12 15.0001C10.3431 15.0001 9 13.657 9 12.0001C9 11.1764 9.33193 10.4303 9.86932 9.88818" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      </svg>
                    </button>
                    <div v-if="errorMessage" class="text-red-500 text-sm mt-1">
                      {{ errorMessage }}
                    </div>
                    <div v-if="meta.dirty && meta.valid" class="text-green-500 text-sm mt-1">
                      Password is good to go
                    </div>
                  </div>
                </v-field>
              </div>
            </div>
            <div class="grid grid-cols-1 lg:grid-cols-2 gap-2 lg:gap-4">
              <div class="col-span-1">
                <label class="block text-sm font-medium mb-1 text-black-700">
                  Phone Number
                </label>
                <v-field
                  v-slot="{field,errorMessage}"
                  name="phone"
                  autocomplete="off"
                  type="text"
                  :rules="isPhoneRegex"
                >
                <input
                  v-bind="field"
                  type="text"
                  id="phone"
                  name="phone"
                  placeholder="Phone Number"
                  class="py-2 lg:py-2.5 border border-gray-200 rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
                />
                <div v-if="errorMessage" class="text-red-500 text-sm mt-1">
                  {{ errorMessage }}
                </div>
                </v-field>
              </div>
              <div class="col-span-1">
                <label class="block text-sm font-medium mb-1 text-black-700"
                  >OTP</label
                >
                <input
                  type="text"
                  pattern="^[0-9]+$"
                  name="otp"
                  @input="verifyOTP"
                  id="otp"
                  placeholder="Enter OTP"
                  v-model="otp"
                  class="w-full px-3 py-2 lg:px-4 lg:py-2.5 border border-gray-200 rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
                />
                <span id="otp-feedback" class="feedback"> </span>
              </div>
            </div>

            <button
              :disabled="otpVerificationStatus.sendingOTP || otpVerificationStatus.otpSent || otpVerificationStatus.waitingForResend || otpVerificationStatus.otpVerified"
              type="sumbit"
              class="w-full bg-gray-700 text-white py-2 lg:py-3 rounded-lg font-medium hover:bg-gray-800 transition-colors text-sm lg:text-base mt-2 lg:mt-4 disabled:opacity-50"
              style="
                display: flex;
                justify-content: center;
                align-items: center;
              "
            >
              <span
                v-if="!otpVerificationStatus.otpSent && !otpVerificationStatus.otpVerified && !otpVerificationStatus.sendingOTP"
                >Send OTP</span
              >
              <span
                id="timer"
                v-if="!otpVerificationStatus.otpVerified"
              ></span>
              <span v-if="otpVerificationStatus.sendingOTP">Sending OTP</span>
              <span v-if="otpVerificationStatus.otpVerified"
                >Processing ....
              </span>
            </button>

            <div class="text-left space-y-2">
              <p class="text-sm text-black-600">
                Already have an account?
                <a href="/login" class="text-blue-600 hover:text-blue-700"
                  >Sign in</a
                >
              </p>

              <p class="text-left text-sm text-black-500">
                By proceeding, you agree to our
                <a
                  href="https://onehash.ai/terms-of-use"
                  class="text-blue-600 hover:text-blue-700"
                  >Terms</a
                >
                and
                <a
                  href="https://onehash.ai/privacy"
                  class="text-blue-600 hover:text-blue-700"
                  >Privacy Policy</a
                >.
              </p>
            </div>
          </v-form>
        </div>
      </div>
    </div>

    <!-- Site Creation UI - Shown after OTP verification -->
    <div
      class="fixed inset-0 z-50 flex flex-col items-center justify-center bg-white"
      v-if="otpVerificationStatus.otpVerified"
    >
      <div class="mb-12 flex w-full justify-center">
        <img
          src="/assets/whitelabel/images/whitelabel_logo_long.svg"
          alt="OneHash"
          class="h-12"
        />
      </div>

      <div class="mb-8">
        <div class="flex items-center justify-center">
          <div
            class="h-12 w-12 animate-spin rounded-full border-b-2 border-gray-400"
          ></div>
        </div>
      </div>

      <div
        class="relative mx-auto flex w-full max-w-lg items-center justify-center"
      >
        <div class="absolute top-4 left-0 w-4/6 h-1 bg-gray-200" style="left: 15%;"></div>

        <div
          class="absolute top-4 left-0 h-1 bg-black transition-all duration-500"
          :style="{ width: progressWidth, left: '15%' }"
        ></div>

        <!-- Step 1 -->
        <div class="relative flex flex-1 flex-col items-center">
          <div
            class="relative z-10 flex h-8 w-8 items-center justify-center rounded-full"
            :class="{
              'bg-black text-white': status.step1 === 'active' || status.step1 === 'completed',
              'bg-white text-black border border-gray-300': status.step1 !== 'active' && status.step1 !== 'completed',
              'border-red-500': status.step1 === 'failed'
            }"
          >
            1
          </div>
          <div class="mt-2 text-center text-sm">Creating site</div>
        </div>

        <!-- Step 2 -->
        <div class="relative flex flex-1 flex-col items-center">
          <div
            class="relative z-10 flex h-8 w-8 items-center justify-center rounded-full"
            :class="{
              'bg-black text-white': status.step2 === 'active' || status.step2 === 'completed',
              'bg-white text-black border border-gray-300': status.step2 !== 'active' && status.step2 !== 'completed',
              'border-red-500': status.step2 === 'failed'
            }"
          >
            2
          </div>
          <div class="mt-2 text-center text-sm">Creating user</div>
        </div>

        <!-- Step 3 -->
        <div class="relative flex flex-1 flex-col items-center">
          <div
            class="relative z-10 flex h-8 w-8 items-center justify-center rounded-full"
            :class="{
              'bg-black text-white': status.step3 === 'active' || status.step3 === 'completed',
              'bg-white text-black border border-gray-300': status.step3 !== 'active' && status.step3 !== 'completed',
              'border-red-500': status.step3 === 'failed'
            }"
          >
            3
          </div>
          <div class="mt-2 text-center text-sm">Redirecting</div>
        </div>
      </div>

      <div class="w-full max-w-md px-4 mt-8 text-center">
        <h2 class="mb-2 text-xl font-medium">Hey,</h2>
        <p class="text-gray-700">
          Sit back and relax while we are creating your site
        </p>
        <p class="mt-1 font-medium text-gray-700">
          <b>{{_(sitename)}}.{{domain}}</b>
        </p>
      </div>
    </div>
  </div>
  {% endblock %} {% block script %}
  <script>
    function restrictInput(event) {
        const inputField = event.target;
        const currentValue = inputField.value;

        // Remove special characters and spaces
        const sanitizedValue = currentValue.replace(/[^a-zA-Z0-9]/g, '');

        // Update the input field with the sanitized value
        inputField.value = sanitizedValue;
    }
    
    document.addEventListener("contextmenu", function (event) {
      event.preventDefault();
    });
    
    // Block opening of inspect element on Windows
    document.addEventListener("keydown", function (event) {
      // Check for F12 key or Ctrl+Shift+I (Inspect Element shortcut)
      if (
        event.key === "F12" ||
        (event.ctrlKey && event.shiftKey && event.key === "I")
      ) {
        event.preventDefault();
      }
    });
    
    // Block opening of inspect element on Mac
    document.addEventListener("keydown", function (event) {
      // Check for Cmd+Option+I (Inspect Element shortcut)
      if (event.metaKey && event.altKey && event.key === "I") {
        event.preventDefault();
      }
    });
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.5.13/vue.global.prod.min.js"></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"
    integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  ></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"
    integrity="sha512-E8QSvWZ0eCLGk4km3hxSsNmGWbLtSCSUcewDQPQWZF6pEU8GlT8a5fF32wOl1i8ftdMhssTrF/OhyGWwonTcXA=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  ></script>
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://www.google.com/recaptcha/api.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vee-validate/4.5.8/vee-validate.min.js"></script>
  <script src="./config.js"></script>
  <script src="./signup.js"></script>
  ; {% endblock %}
</body>
</html>